<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Expenses</title>
</head>
<body>

<header>
    <div>


        <a href="categories.html"
           th:href="@{/categories}">Categories</a>


        <a href="expenses.html"
           th:href="@{/expenses}">Expenses</a>


    </div>
    <nav>
        <span>
            <h1>Delete expense</h1>
        </span>
    </nav>

</header>

<section id="expense">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <form action="#"
                              th:action="@{/delete-expenses/{id}}"
                              th:object="${expense}"
                              method="post">

                            <div>
                                <div>
                                    <label
                                            for="field_expenseId">Expense Id</label>
                                    <input readonly="readonly"
                                           id="field_expenseId"
                                           type="text" value="1"
                                           th:field="*{expenseId}"/>
                                </div>
                                <div>
                                    <label
                                            for="field_expenseDate">Date of Expense</label>
                                    <input readonly="readonly"
                                           id="field_expenseDate"
                                           type="text" value="1"
                                           th:field="*{dateOfExpense}"/>
                                </div>
                                <div>
                                    <label
                                            for="field_categoryId">Category Code</label>
                                    <input readonly="readonly"
                                           id="field_categoryId"
                                           type="text" value="1"
                                           th:field="*{categoryId}"/>
                                    <!--                                <label-->
                                    <!--                                        for="field_typeOfExpense">Type of expense</label>-->
                                    <!--                                <select id="field_typeOfExpense">-->
                                    <!--                                    <option th:each="category : ${categories}"-->
                                    <!--                                            th:selected=""-->
                                    <!--                                            th:text="${category.categoryName}">-->
                                    <!--                                    </option>-->
                                    <!--                                    <option th:remove="all" value="0">Food</option>-->
                                    <!--                                    <option th:remove="all" value="1">Households</option>-->
                                    <!--                                    <option th:remove="all" value="2">Medicine</option>-->
                                    <!--                                    <option th:remove="all" value="3">Clothes</option>-->
                                    <!--                                    <option th:remove="all" value="4">Entertainment</option>-->
                                    <!--                                </select>-->
                                </div>
                            </div>
                            <div>
                                <label
                                        for="field_name">Price</label>
                                <input readonly="readonly"
                                        id="field_name"
                                        type="text" value="25"
                                        th:field="*{sumOfExpense}"/>
                            </div>
                            <div>
                                <input type="submit" value="Delete"/>
                                <input type="button" value="Cancel" onClick="window.location='../expenses'"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021</p>
</footer>

</body>
</html>
