<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Expenses</title>
</head>
<body>

<header>
    <div>


        <a href="categories.html"
           th:href="@{/categories}">Categories</a>


        <a href="expenses.html"
           th:href="@{/expenses}">Expenses</a>


    </div>
    <nav>
        <span>
            <h1>Add expense</h1>
        </span>
    </nav>

</header>

<section id="expense">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <form>
                            <div>
                                <label
                                       for="field_typeOfExpense">Type of expense</label>
                                <select
                                        id="field_typeOfExpense">
                                    <option value="0">Food</option>
                                    <option value="1">Households</option>
                                    <option value="2">Medicine</option>
                                    <option value="3">Clothes</option>
                                    <option value="4">Entertainment</option>
                                </select>
                            </div>
                            <div>
                                <label
                                       for="field_sum">Sum</label>
                                <input
                                       id="field_sum"
                                       type="text"
                                       value=""/>
                            </div>
                            <div>
                                <a href="expenses.html"
                                   th:href="@{/expenses}"
                                   title="Cancel">Cancel</a>
                                <a href="expenses.html"
                                   th:href="@{/expenses}"
                                   title="Save expense">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021</p>
</footer>

</body>
</html>
