<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>

    <title>Categories</title>

</head>
<body>

<header>
    <div>


        <a href="categories.html"
           th:href="@{/categories}">Categories</a>


        <a href="expenses.html"
           th:href="@{/expenses}">Expenses</a>


    </div>
    <nav>
        <span>
           <h1>Add category</h1>
        </span>
    </nav>
</header>

<section>
    <div>

        <form action="#"
              th:action="@{/add-categories}"
              th:object="${category}"
              method="post">

            <div>
                <label
                        for="field_categoryCode">Code</label>
                <input readonly="readonly"
                        id="field_categoryCode"
                        type="text" value=""
                        th:field="*{categoryId}"/>
            </div>
            <div>
                <label
                        for="field_name">Name</label>
                <input
                        id="field_name"
                        type="text" value=""
                        th:field="*{categoryName}"/>
            </div>
            <div>
                <input type="submit" value="Save"/>
                <input type="button" value="Cancel" onClick="window.location='categories'"/>
            </div>
        </form>
    </div>
</section>

<footer>
    <hr/>
    <p>&copy; 2021</p>
</footer>

</body>
</html>