<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title>Categories</title>
</head>
<body>


<div>


    <a href="categories.html"
       th:href="@{/categories}">Categories</a>


    <a href="expenses.html"
       th:href="@{/expenses}">Expenses</a>


</div>


<nav>
    <div>
        <span><h1>Categories</h1></span>
        <ul>

            <a href="add-categories.html"
               th:href="@{/add-categories}"
               title="Add Category">
                <span>Add</span>
            </a>

        </ul>
    </div>
</nav>

<section id="categories">
    <div>
        <table border>
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryId}">1</td>
                <td th:text="${category.categoryName}">Food</td>
                <td>
                    <a href="edit-categories.html"
                       th:href="@{|/edit-categories/${category.categoryId}|}"
                       title="Edit categories">
                        <span>&nbsp;Edit</span></a>
                    <span>
                        <a href="delete-categories.html"
                           th:href="@{|/delete-categories/${category.categoryId}|}"
                           title="Delete category">
                            <span>&nbsp;Delete</span>
                        </a></span>
                </td>
            </tr>
            <tr th:remove="all">
                <td>2</td>
                <td>Households</td>
                <td>
                    <a href="edit-categories.html"
                       th:href="@{|/edit-categories/${category.categoryId}|}"
                       title="Edit categories">
                        <span>&nbsp;Edit</span></a>
                    <span>
                                    <a title="delete category">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                </td>
            </tr>
            <tr th:remove="all">
                <td>3</td>
                <td>Car</td>
                <td>
                    <a href="edit-categories.html"
                       th:href="@{|/edit-categories/${category.categoryId}|}"
                       title="Edit categories">
                        <span>&nbsp;Edit</span></a>
                    <span>
                                    <a title="delete category">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                </td>
            </tr>
            <tr th:remove="all">
                <td>4</td>
                <td>Medicine</td>
                <td>
                    <a href="edit-categories.html"
                       th:href="@{|/edit-categories/${category.categoryId}|}"
                       title="Edit categories">
                        <span>&nbsp;Edit</span></a>
                    <span>
                                    <a title="delete category">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                </td>
            </tr>
            <tr th:remove="all">
                <td>5</td>
                <td>Clothes</td>
                <td>
                    <a href="edit-categories.html"
                       th:href="@{|/edit-categories/${category.categoryId}|}"
                       title="Edit categories">
                        <span>&nbsp;Edit</span></a>
                    <span>
                                    <a title="delete category">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                </td>
            </tr>
            <tr th:remove="all">
                <td>6</td>
                <td>Entertainment</td>
                <td>
                    <a href="edit-categories.html"
                       th:href="@{|/edit-categories/${category.categoryId}|}"
                       title="Edit categories">
                        <span>&nbsp;Edit</span></a>
                    <span>
                                    <a title="delete category">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

<footer>
    <hr/>
    <p>&copy; 2021</p>
</footer>

</body>
</html>