<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Expenses</title>
</head>
<body>

<header>
    <div>


        <a href="categories.html"
           th:href="@{/categories}">Categories</a>


        <a href="expenses.html"
           th:href="@{/expenses}">Expenses</a>


    </div>

    <nav>
        <div>
            <span><h1>Expenses</h1></span>
            <ul>

                <a href="add-expenses.html"
                   th:href="@{/add-expenses}"
                   title="Add expense">
                    <span>Add</span>
                </a>

            </ul>
        </div>
    </nav>
</header>

<div>
    <div>
        <button type="button"><a href="calculate-sum.html"
                                              th:href="@{/calculate-sum}">Calculate sum</a></button>
    </div>
</div>

<section id="expenses">
    <div>
        <div>
            <div>
                <div>
                    <table border>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Type of expense</th>
                            <th>Sum</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>13.10.2021</td>
                            <td>Food</td>
                            <td>12</td>
                            <td>
                                <a href="edit-expenses.html"
                                   th:href="@{/edit-expenses/1}"
                                   title="Edit expense">
                                    <span>&nbsp;Edit</span></a>
                                <span>
                                    <a
                                       title="delete expense">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>14.10.2021</td>
                            <td>Clothes</td>
                            <td>20</td>
                            <td>
                                <a href="edit-expenses.html"
                                   th:href="@{/edit-expenses/2}"
                                   title="Edit expense">
                                    <span>&nbsp;Edit</span></a>
                                <span>
                                    <a
                                            title="delete expense">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>14.10.2021</td>
                            <td>Entertainment</td>
                            <td>15</td>
                            <td>
                                <a href="edit-expenses.html"
                                   th:href="@{/edit-expenses/3}"
                                   title="Edit expense">
                                    <span>&nbsp;Edit</span></a>
                                <span>
                                    <a
                                            title="delete expense">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>15.10.2021</td>
                            <td>Medicine</td>
                            <td>42.5</td>
                            <td>
                                <a href="edit-expenses.html"
                                   th:href="@{/edit-expenses/4}"
                                   title="Edit expense">
                                    <span>&nbsp;Edit</span></a>
                                <span>
                                    <a
                                            title="delete expense">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>16.10.2021</td>
                            <td>Food</td>
                            <td>17</td>
                            <td>
                                <a href="edit-expenses.html"
                                   th:href="@{/edit-expenses/5}"
                                   title="Edit expense">
                                    <span>&nbsp;Edit</span></a>
                                <span>
                                    <a
                                            title="delete expense">
                                        <span>&nbsp;Delete</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021</p>
</footer>

</body>
</html>